/***************************************************************** 
 *                       SCJ DESIGN SYSTEM 
 *                      MCCY SCJ PORTAL v1.0
 *
 *                     Deloitte Consulting SEA 
 *                          December 2020
 ***************************************************************** /
/* CSS SECTIONS
   1. $GLOBAL DECLARATIONS
   2. $GLOBAL COMPONENTS
         #BUTTON STYLES
      #BACKGROUND BUBBLES
         #FONT STYLES
      #GLOBAL PAGE HEADER
      #GLOBAL PAGE FOOTER
   3. $LANDING HOMEPAGE
         $404 PAGE 
         $ABOUT PAGE 
         $POSTLOGIN HELP
   6. $E-JOURNEY
         #LANDING PAGE
         #VIDEO PAGE
   4. $PARTICIPANT DASHBOARD
         #BULLET CHECKMARK
         #STRUCTURAL CONTAINERS
         #OVERRIDE
	4. $SEV EVENT ARCHIVE
   5. $CSS EVENT ARCHIVE
   6. FORMS
      6.1 $EVENT FORMS
      6.2 $SURVEY FORMS
   7. $INBOX
   8. ONBOARDING
      8.1 $ONBOARDING LANDING
      8.2 $ONBOARDING FORMS
 
   <--------------------------- SECTIONS --------------------------->
   Each numbered section represents a group of web pages dedicated to
   an SCJ Component such as events or forms. With the exception of 
   global section 1. and 2., each section has its own dedicated .CSS 
   file and has to be linked to prevent CSS bloating.

   Each section is divided into their specific elements such as bullet
   points or section unique formatting like padding.

   <--------------------- STRUCTURAL CONTAINERS  --------------------->
   Defines re-usable flex or grid containers.

   ------------------------
   CLASS NAMING CONVENTION
   ------------------------
   A declaration consists of:

   * BLOCK - A container that contains elements
   * ELEMENT - A visual component i.e. button, header, sub-header
   * MODIFIER - Variations of an element in appearance or behavior

   <------------------------ VISUAL PROPERTIES ------------------------>
   Visual properties such as color, size and font styles are declared
   seperately from the block or component as a seperate class.

   They can be added to an appropriate HTML block/element to change its 
   visual properties.
 
/***********************************************************************
 * $GLOBAL DECLARATIONS
 */ 
 
 
 /***********************************************************************
  * $GLOBAL COMPONENTS
  * #BUTTON STYLES
  */


/******** HEADER STYLES ********/
ul.navbar-nav {
   width: 100%;
   box-sizing: border-box;
   padding: 0;
 }

 .col-second-level {
   border-left: 1px solid #999999;
 }

 .col-third-level {
   border-left: 1px solid #999999;
 }

 .megamenu {
    background: #C4C4C4;
    min-height: 240px;
 }

 .nav-item .nav-link{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 16px;
   /* display: flex; */
   /* align-items: center;
   text-align: center; */
   color: #333333;
 }

 .dropdown-item {
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 16px;
   display: flex;
   align-items: center;
 }
      /* ============ desktop view ============ */
      @media all and (min-width: 992px) {

      .navbar .has-megamenu{position:static!important;}
      .navbar .megamenu{left:15%; right:0; width:85%; margin-top:0;  }

      }	
      /* ============ desktop view .end// ============ */

      /* ============ mobile view ============ */
      @media(max-width: 991px){
      .navbar.fixed-top .navbar-collapse, .navbar.sticky-top .navbar-collapse{
         overflow-y: auto;
            max-height: 90vh;
            margin-top:10px;
      }
      }
      /* ============ mobile view .end// ============ */
 
